body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding: 0;
  background: url("./assets/background.png") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  color: #333;
}

.container {
  max-width: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form input,
.form select,
.form button {
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  width: 80%;
  font-size: 16px;
  font-family: "Segoe UI", sans-serif;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  outline: none;
}

.form button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.postcard {
  background-image: url("./assets/1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  max-width: 100%;
  aspect-ratio: 7/4;
  margin: 30px auto;

  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: none;
  color: #222;
  overflow: visible;
  box-sizing: border-box;
  filter: contrast(105%) brightness(105%) blur(0px);
  position: relative;
}

.postcard-name {
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 38%;
  transform: translate(0, 20%);
  font-size: calc(0.6vw + 10px);
  font-weight: bold;
  color: #981;
  font-family: "Lobster", Lobster;
  max-width: 1000px;
  white-space: normal;
  word-wrap: break-word;
  text-align: right;
  direction: rtl;
  overflow-wrap: break-word;
}

.footer {
  font-style: italic;
  margin-top: 20px;
}

.signature {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-left: 500px;
  margin-right: 300px;
  margin-bottom: 58px;
  font-family: "Dancing Script", serif;
  white-space: nowrap;
}

#download-btn {
  /* margin-top: 10px; */
  margin-bottom: 10px;
  display: none;
  padding: 10px 20px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* HIỆU ỨNG IN */
@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background: url("https://i.imgur.com/qtC9QSR.png") no-repeat center center !important;
    background-size: cover !important;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }
}

/* RESPONSIVE - MOBILE */
@media (max-width: 480px) {
  .container {
    width: 100%;
  }

  .postcard {
    width: 100%;
  }

  .postcar-name {
    right: 50%;
    top: 40%;
    font-size: px;
    right: 57%;
    top: 39%;
    transform: translate(0, 10%);
    font-size: calc(0.5vw + 10px);
  }
}

/* RESPONSIVE - TABLET */
@media (max-width: 860) {
  .container {
    width: 90%;
  }

  .postcard {
    width: 90%;
  }
}
